
<link rel="stylesheet" type="text/css" href="/css/products.css">

<h1>Productos - Vista</h1>

<form class="products-filter-form" method="get" action="/api/products/productsViewDropdown">
    <select name="dropdown">
        <option value="0">Todos los productos</option>
        <option value="1">Tus productos</option>
    </select>
    <input type="submit" value="Buscar">
</form>

<div>
    {{#each docs}}
        <div class="products-view-div">
            <div class="product-view-div">
                <div class="product-title-div">
                    <h3>{{this.title}}</h3>
                    <button class="button-extend">+</button>
                </div>
                <hr>
                <p>Descripcion: {{this.description}}</p>
                <p>Codigo: {{this.code}}</p>
                <p class="element-hidden">Precio: ${{this.price}}</p>
                <p class="element-hidden">Stock: {{this.stock}} unidades</p>
                <p class="element-hidden">Categoria: {{this.category}}</p>
                <p class="element-hidden">Imagen: {{this.thumbnail}}</p>
            </div>  
            <form method="post" action="/api/carts/productAdd/{{this._id}}">
                <input type="submit" value="Añadir al carrito">
            </form>
        </div>
    {{/each}}
</div> 

<script src="/js/products.js"></script>
