
<link rel="stylesheet" type="text/css" href="/css/users.css">

<h1>Usuarios</h1>

{{#if users}}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{this.firstName}} {{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td>{{this.status}}</td>
            <td>
                {{#if (isNotAdmin this.role)}}
                    <form method="post" action="/api/users/usersUpdateView">
                        <input type="hidden" name="uid" value="{{this._id}}">
                        <input type="submit" value="Modificar">
                    </form>
                {{/if}}
            </td>
            <td>
                {{#if (isNotAdmin this.role)}}
                    <form method="post" action="/api/users/usersDeleteOneView">
                        <input type="hidden" name="uid" value="{{this._id}}">
                        <input type="submit" value="Eliminar">
                    </form>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
{{/if}}

<p>{{message}}</p>
<p style="color: red">{{error}}</p>